{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
  <div class="text-center container-fluid col-center main">
    <div>
      <h1>LSLC</h1>
      <h1>We Like Social Media & We Love Coding</h1>
      <hr>
      {% if user and not user.is_anonymous %}
        <div class="content">
          <div>
            <img src="{{ image }}" class="circular" width="100px">
          </div>
          <div>
            <h4>Hello {{ user.get_full_name|default:user.username }}!</h4>
          </div>
          <p> Your extension token is : {{ api_token }}</p>
          <a href="{% url 'auth:logout' %}?next={{ request.path }}">
            | logout
          </a>
        </div>
      {% else %}
        {% if error %}
          <div class="content">
            <h4 class="error">Sorry you can't login, you are inactive</h4>
          </div>
        {% else %}
          <div class="content">
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
              <img src="{% static "imgs/fb_login.png" %}" width="300px">
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
